@model List<PrivacyViewModel>


@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<h1>@ViewData["Title"]</h1>

<br/>
<h2>Rastgele Sokak Apt. No:5</h2>
<h2>Çankaya Ankara</h2>
<h2>E-posta adresimiz</h2>
<a href="gberk.kushan@hotmail.com">gberk.kushan@hotmail.com</a>



